*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    font-family: sans-serif;
    font-size: .9em;
    line-height: 1.5;
}

header{
    height: 85px;
    width: 100%;
    position: fixed;
    background-color: #750000;
    z-index: 30;
}

.logo-menu_container{
    width: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header_container{
    height: 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.menu_hamburguesa{
    height: 30px;
    width: 30px;
    background-image: url(/proyectoprogramacion/imagenes/imagenesNavbar/menu_.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.menu_hamburguesa:hover{
    cursor: pointer;
}

.navbar_links_container{
    display: flex;
    flex-direction: row;
}


.funciones_navbar{
    display: flex;
}


.buscador_container{
    padding: 0 50px;
}


.cuenta_icon{
    height: 20px;
    width: 20px;
    background-image: url(/proyectoprogramacion/imagenes/imagenesNavbar/usuario.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}


.logo_container{
    height: 50px;
    width: 50px;
    background: url(/proyectoprogramacion/imagenes/imagenesNavbar/logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.input_buscador_container{
    padding: 5px 10px;
    background-color: white;
    border-radius: 50px;
    border: 1px solid silver;
    display: flex;
}

.buscador_image{
    width: 20px;
    height: 20px;
    position: relative;
    right: 5px;
    top: 5px;
}

.buscador{
    padding: 5px;
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 35px;
    color: black;
    outline: none;
    
}


.navbar_links_container{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cuenta_container{
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cuenta_text input{
    color: white;
    background-color: transparent;
    border: none;
}

.cuenta_text input:hover{
    cursor: pointer;
}

header p{
    color: white;
}

.atras_icon{
    background-image: url(/proyectoprogramacion/imagenes/imagenesNavbar/volver.png);
    height: 25px;
    width: 25px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}






.hidden_space{
    height: 85px;
}



main{
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pedidos_container{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pedidos_inside{
    padding: 10px;
    height: 60%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1{
    font-size: 2em;
    border-bottom: 3px solid #4d0000;
}

table{
    width: 85%;
    height: 65%;
}

table th p{
    border-bottom: 3px solid #4d0000;
    font-size: 1.2em;
}

table tr td p{
    font-weight: bold;
    font-size: 1.1em;
}

table tr .dato{
    border-bottom: 2px solid #4d0000;
}

table tr .title{
    font-size: 1.1em;
}
